/* Colors
-------------------------- */
$--color-white: #fff !default;
$--color-black: #1e1e1e !default;

$--color-primary: #1f74ff !default;

$--color-success: #46c93a !default;
$--color-warning: #ffba00 !default;
$--color-danger: #ff4757 !default;
$--color-default: #5b5777 !default;
$--color-cool: #2d303d !default;

$--color-background: #f0f2f5 !default;
$--color-border: #e8e8e8 !default;

/* Font
-------------------------- */
$--font-size-base: 14px;
$--font-size-small: 12px;
$--font-family-base: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
$--font-family-mono: monaco, Consolas, Menlo, Courier, monospace;
